<!DOCTYPE html>
<html>
	<head>
		<title>Crypto Attic Home</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel='stylesheet' href={{url_for('static', filename='css/styles.css')}}>
	</head>
	<body>
		<h1 id='title'>Cryptocurrency Portfolio Tracker</h1>
		<br>
		<div id='coinwrapper'>
			<h2 id='coinname'>Bitcoin</h2>
			<div id='pricewrapper'>
				<span>$</span><span id='bitcoinprice'></span>
			</div>
			<h2 id='coinname'>Ripple</h2>
			<div id='pricewrapper'>
				<span>$</span><span id='xrpprice'></span>
			</div>
		</div>
		<script>
			var coins = ['BTC','ETH','XRP','NEO'];	
			$.ajax({
				url: '/prices',
				type: 'POST',
				data: {coins: JSON.stringify(coins)},
				success:function(result){
					console.log(result);
					document.getElementById('bitcoinprice').innerHTML = result['coins']['BTC'];
					document.getElementById('xrpprice').innerHTML = result['coins']['XRP'];
				},
				error:function(){
					console.log("I failed");
				}
			})
		</script>
	</body>
</html>